body {
    background: #1A1A1A;
    color: #d9d9d9;
    width: 800px;
    padding: 16px;
}

#MenuDiv {
    float: left;
    width: 50%;
}

#Host {
    font-size: 1em;
    padding: 3px 1em 3px .4em;
    margin-right: -4px;
    border: 1px solid #555555;
    background-color: #2F2F2F;
}

.ui-menu { 
    display: inline-block;
    font-size: 1em;
    white-space: nowrap;
    max-height: 505px;
}

.ui-menu .ui-menu-item .ui-menu .ui-menu-item .ui-menu {
    overflow-y: auto;
    overflow-x: hidden;
    /*-ms-overflow-style: none;*/
}

.ui-menu-item {
    background: #2F2F2F;
    border: 1px solid #555555;
}

.ui-widget-content .ui-state-active {
    font-weight: normal;
}

#AppsDiv {
    float: right;
    width: 50%;
}

.AppTile {
    width: 128px;
    height: 128px;
    background: #2F2F2F;
    border: 1px solid #555555;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
}

.AppTile:hover {
    border: 1px solid #096ac8;
    color: #75abff;
    background: #292929;
}

.AppTile:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.AppTile .Centered {
    display: inline-block;
    vertical-align: middle;
}

.AppTile .Centered img {
    width: 48px;
}

.AppTile .Centered div {
    padding: 5px;
}